<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//unpkg.com/force-graph"></script>
    <script src="//unpkg.com/d3-quadtree"></script>
    <script src="//unpkg.com/d3-force"></script>
</head>

<body>


<div class="multipleSelect">
    <% for (var e of cats) { %>
    <div class="inputGroup">
        <input id="<%- e %>" checked name="categories[]" value="<%- e %>" type="checkbox"/>
        <label class="<%- e %>" for="<%- e %>"><%- e %></label>
    </div>
    <% } %>

</div>
<div id="graph"></div>

<div id="moreInfo">
    <div id="innerMoreInfo">
        <h3 class="titleInfo" id="fillTitle">Um Título exemplo de um paper</h3>
        <h4 class="doi" >https://doi.org/<span id="fillDoi">2019</span></h3>
        <h4 class="categoryInfo" id="fillCat">Computer Science</h4>
        <div class="inlineH">
            <h5 class="yearInfo">Published in <span id="fillYear">2019</span></h5> &nbsp; <h5>｜</h5>&nbsp;

            <h5 class="citationsInfo">Cited <span id="fillCited">123</span> times</h5>&nbsp; <h5>｜</h5>&nbsp;
            <h5 class="citationsInfo">Cites <span id="fillCites"> 90</span> papers</h5>
        </div>
        <h4 class="authorsTitle">Authors:</h4>
        <ul class="authorUl">
            <li>Rodrigo Alves</li>
            <li>Testing Names</li>
            <li>Just Whatever</li>
        </ul>

    </div>
</div>

<div class="controlDiv">
    <div class="slider">
        <p class="year-slider">
            <label class="yearLabel" for="amount">I WANT THE MOST CITED PAPERS FROM <span id="fromYear"></span> to <span
                        id="toYear"></span> </label>
        </p>
        <div id="slider-range"></div>
    </div>
    <div style="margin-top:6em;" class="slider">
        <p class="year-slider">
            <label class="yearLabel" for="amount">AND I WANT TO SEE REFERENCES GOING BACK <span id="backFrom"></span>
                years </label>
        </p>
        <div id="slider"></div>
    </div>
    <br>

</div>
<style>


</style>

<script>


    let highlightNodes = [];
    let lastGraphZoom;
    let lastX;
    let lastY;


    const initData = {
        nodes: <%- nodes %>,
        links: []
    };

    var unique = [];
    var distinct = [];
    for( let i = 0; i < initData.nodes.length; i++ ){
        if( !unique[initData.nodes[i].primary_cat]){
            distinct.push(initData.nodes[i].primary_cat);
            unique[initData.nodes[i].primary_cat] = 1;
        }
    }

    const elem = document.getElementById('graph');


    const Graph = ForceGraph()(elem)
    outsideGraph = Graph
        .backgroundColor('white')
        .d3AlphaDecay(0.05)
        .graphData(initData)

        .d3Force('charge', d3.forceManyBody())


        .height(window.innerHeight - 150)
        .width(window.innerWidth)
        .nodeAutoColorBy('primary_cat')
        .linkWidth(0)
        .linkCanvasObjectMode(() => 'after')
        .linkCanvasObject((link, ctx) => {
            const MAX_FONT_SIZE = 4;
            const LABEL_NODE_MARGIN = 0;
            const start = link.source;
            const end = link.target;

            // ignore unbound links
            if (typeof start !== 'object' || typeof end !== 'object') return;

            // calculate label positioning
            const textPos = Object.assign(...['x', 'y'].map(c => ({
                [c]: start[c] + (end[c] - start[c]) / 2 // calc middle point
            })));

            const relLink = {x: end.x - start.x, y: end.y - start.y};

            const maxTextLength = Math.sqrt(Math.pow(relLink.x, 2) + Math.pow(relLink.y, 2)) - LABEL_NODE_MARGIN * 2;

            let textAngle = Math.atan2(relLink.y, relLink.x);
            // maintain label vertical orientation for legibility

            const label = `${link.source.color} | ${link.target.color}`;

            // estimate fontSize to fit in link length
            ctx.font = '1px Sans-Serif';
            const fontSize = Math.min(MAX_FONT_SIZE, maxTextLength / ctx.measureText(label).width);
            ctx.font = `${fontSize}px Sans-Serif`;
            const bckgDimensions = [maxTextLength, fontSize].map(n => n + fontSize * 0.2); // some padding
            // draw text label (with background rect)
            var grd = ctx.createLinearGradient(-bckgDimensions[0] / 2, -bckgDimensions[1] / 2, ...bckgDimensions);
            grd.addColorStop(0, link.source.color);
            grd.addColorStop(0.5, link.target.color);
            grd.addColorStop(1, link.target.color);
            // draw text label (with background rect)
            ctx.save();
            ctx.translate(textPos.x, textPos.y);
            ctx.rotate(textAngle);
            ctx.fillStyle = grd;
            ctx.fillRect(-bckgDimensions[0] / 2 + 2, -bckgDimensions[1] / 2 + 2, bckgDimensions[0] - 2, 0.5);
            ctx.restore();
        })


        .onNodeClick(node =>
        {
            if (node.doi == "") {
                alert("This paper doesn't have a DOI")
            }else{

                window.open("https://doi.org/"+ node.doi);
            }

        })
        .onNodeHover(node => {
            elem.style.cursor = node ? 'pointer' : null
            highlightNodes = node ? [node] : [];
            elem.style.cursor = node ? '-webkit-grab' : null;
            var div = document.getElementById('moreInfo');
            if (node) {
                console.log(node.doi)
                fillIn(node);

                div.classList.add('active');

                lastGraphZoom = Graph.zoom()
                lastX = Graph.centerAt().x;
                lastY = Graph.centerAt().y;
            } else {
                closeNode();
            }
        })

        .nodeVal(node => (node.year <= 2017) ? (node.n_citation / 100) : (node.n_citation / 10))

    /*.nodeCanvasObject((node, ctx) => {

        ctx.beginPath();
        ctx.arc(node.x, node.y, (node.references.length / 10) > 2 ? node.references.length / 10 : 2, 0, 2 * Math.PI, false);
        ctx.fillStyle = node.color;
        ctx.fill();
    })
*/
    function closeNode() {
        highlightNodes = [];
        var div = document.getElementById('moreInfo');
        div.classList.remove('active');
    }

    function funcaozinha() {
        outsideGraph.centerAt(lastX, lastY, 1000);
        outsideGraph.zoom(lastGraphZoom, 1000);
    }

    function fillIn(node) {
        let auth = "";
        node.authors.forEach(element => auth += (" - " + element + "<br>"))
        $('#fillTitle').text(node.title);
        $('#fillCat').text(node.primary_cat);
        $('#fillYear').text(node.year);
        $('#fillCited').text(node.n_citation);
        $('#fillCites').text(node.references.length);
        $('#fillDoi').text(node.doi);
        $('#moreInfo').css('border', `3px solid ${node.color}`);

        let ulContent = '';
        let index = 0;
        for (let e of node.authors) {
            index++;
            ulContent += `<li>${e}</li>`;
            if (index >= node.authors.length) {
                $('.authorUl').html(ulContent);
            }
        }
    }


    var checkeds = new Array();
    $("input[name='categories[]']:checked").each(function () {
        checkeds.push($(this).val());
    })
    let min, max, uiMin, absoluteMin, backYears;
    min = Math.min(...<%- years %>);
    max = Math.max(...<%- years %>);
    backYears = 0;
    absoluteMin = Math.min(...<%- years %>);
    let connections = 0;
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: Math.min(...<%- years %>),
            max: Math.max(...<%- years %>),
            values: [Math.min(...<%- years %>), Math.max(...<%- years %>)],
            slide: function (event, ui) {

                min = ui.values[0];
                max = ui.values[1];

                $("#fromYear").text(ui.values[0])
                $("#toYear").text(ui.values[1])

            }, stop: function (event, ui) {
                /*
                                if (backYears == 0) {
                                    outsideGraph.linkWidth
                                }*/
                min = ui.values[0];
                max = ui.values[1];
                $.ajax(
                    {
                        datatype: 'JSON',
                        type: 'POST',
                        data: {min: min, max: max, backYears: backYears, categories: checkeds},
                        url: '/',
                        success: function (valido) {
                            Graph.graphData({
                                nodes: valido.nodes,
                                links: (backYears < 1) ? [] : valido.links
                            });
                            console.log(valido.nodes);
                        }
                    });
                $("#fromYear").text(ui.values[0])
                $("#toYear").text(ui.values[1])
                updateSlider();
            },
        });
        $("#fromYear").text($("#slider-range").slider("values", 0))
        $("#toYear").text($("#slider-range").slider("values", 1))


    });

    let updateSlider = () => {
        $("#slider").slider("destroy");
        $("#slider").slider({
            min: 0,
            max: min - absoluteMin,
            range: "min",
            create: function () {
                $("#slider").slider('value', backYears);

                $("#backFrom").text($(this).slider("value"));
            },
            slide: function (event, ui) {
                $("#backFrom").text(ui.value);
                backYears = ui.value;
            },
            stop: function (event, ui) {

                $("#backFrom").text(ui.value);
                backYears = ui.value;
                $.ajax(
                    {
                        datatype: 'JSON',
                        type: 'POST',
                        data: {min: min, max: max, backYears: backYears, categories: checkeds},
                        url: '/',
                        success: function (valido) {
                            Graph.graphData({
                                nodes: valido.nodes,
                                links: (backYears < 1) ? [] : valido.links
                            });
                        }
                    });
            },
        });
    }
    $(function () {

        $("#slider").slider({
            min: 0,
            max: absoluteMin - min,
            range: "min",
            create: function () {
                $("#backFrom").text($(this).slider("value"));
            },
            slide: function (event, ui) {
                $("#backFrom").text(ui.value);
                backYears = ui.value;
            }
        });
    });


    $(document).on('mousemove', function (e) {


        let xPosition = (window.innerWidth) - (e.pageX + 40 + (window.innerWidth * 0.28));

        if (xPosition < 42) {
            xPosition = e.pageX - window.innerWidth * 0.28 - 40;
        } else {
            xPosition = e.pageX;
        }


        let yPosition = (window.innerHeight) - (e.pageY + (window.innerHeight * 0.33));

        if (yPosition < 42) {
            yPosition = e.pageY - window.innerHeight * 0.33 - 40;
        } else {
            yPosition = e.pageY;
        }
        $('#moreInfo').offset({left: xPosition, top: yPosition});
    });
    $(':checkbox').change(function () {

        checkeds.length = 0

        $("input[name='categories[]']:checked").each(function () {
            checkeds.push($(this).val());
        });
        $.ajax(
            {
                datatype: 'JSON',
                type: 'POST',
                data: {min: min, max: max, backYears: backYears, categories: checkeds},
                url: '/',
                success: function (valido) {
                    Graph.graphData({
                        nodes: valido.nodes,
                        links: (backYears < 1) ? [] : valido.links
                    });
                }
            });
        // do stuff here. It will fire on any checkbox change
    });
</script>
</body>
</html>
