<!DOCTYPE html>
<meta charset="utf-8">
<title>Radial Bilevel Graph</title>
<link rel="stylesheet" type="text/css" href="/javascripts/inspector.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />

<body>
	<style>
		body {
			max-width: 100%;
			max-height: 100vh;
		}

		.tags {
			cursor: grab;
		}

		span.observablehq--inspect {
			display: none;
		}

		#moreInfo {
			border: 3px solid rgb(31, 120, 180);
		}

		.circle:hover {
			/*meh*/
		}
	</style>
	<script type="module">
		import define from "/javascripts/index.js";
    import {Runtime, Library, Inspector} from "/javascripts/runtime.js";
    const runtime = new Runtime();
    const main = runtime.module(define, Inspector.into(document.body));
</script>
	<div class="tooltip tooltipi" id="moreInfo">
		<div id="innerMoreInfo">
			<h3 class="titleInfo" id="fillTitle">Loading</h3>
			<h4 class="categoryInfo" id="fillCat">Area</h4>
			<div class="inlineH">
				<h5 class="yearInfo">Published in <span id="fillYear">NNNN</span></h5> &nbsp; &nbsp;
			</div>
			<h5 class="authorsTitle">Authors:</h5>
			<ul class="authorUl">
				<li><span id="fillAuthor">A</span></li>
			</ul>
			<h5 class="authorsTitle">Keywords:</h5>
			<ul class="keywordsUl">
				<li><span id="fillKeywords">K</span></li>
			</ul>
			<h5 class="authorsTitle">DOI:</h5>
			<ul class="doiUl">
				<li><span id="fillDOI">D</span></li>
			</ul>
		</div>
	</div>
</body>