html {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: 'Open Sans', sans-serif;width: 100vw;
height: 100vh;
  margin:0;
}

a {
  color: #00B7FF;
}
#moreInfo > a  {
  float:right;
  padding-right:10px;
  padding
  border-radius: -top:10px;
}
#moreInfo {
  height: fit-content;
  background-color: #fff;
  width: 28%;
  z-index: 5000;
  border-radius: 0.5em;
  padding: 1em;
  color: black;
  position: absolute;
  /* clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 93% 100%, 8% 100%, 8% 55%, 0 49%, 7% 44%, 7% 0); */
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: visibility 1s, opacity 0.5s linear;
}
#moreInfo.active {
  visibility: visible;
  opacity: 1;
}

#graph {
  height: 84%;
  width: 100%;
}
.titleInfo {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #f38181;
}
h5 {
  margin-top: 2px;
  font-weight: 300;
  font-size: 13px;
  margin-bottom:5px;
}
.inlineH {
  display:flex;
  color: #756c83;
  font-size: 9px;
}

h4 {
  font-weight: 400;
  color: #8c8c8c;
  font-size: 16px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-left: 0;
  font-weight: 300;
  padding-left: 5px;
  margin-top: 5px;
  font-size: 14px;
  color: #8c8c8c;
}
.year-slider {
  position: relative;
  background-color: white;
  text-align:center;
  margin-top: 10px;
  /* padding: 3em; */
}

#slider {
  position: relative;
  background-color: white;
  margin-bottom: 3em;
}

.slider {
  position: relative;
  top: 40px;

}

.controlDiv {
  position: relative;
  width: 100%;
  padding: 1em;
  bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchHolder {
  position: relative;
  display: block;
  margin-top: 6em;
}

.yearLabel {

  color: #2E4052;
  font-size: 20px;
}


.yearLabel span {
  font-size: 37px;
  color: #f38585;
  padding: 0 0.5em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
  background-color: #2e4052;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #f38585 !important;
  border-radius:1em;

  background: #f38585 !important;
  font-weight: normal;
  color: #f38585 !important;
}
.ui-widget.ui-widget-content {
  width: 70%;
  text-align: center;
  margin: auto;
}

.multipleSelect {
  background:white;
  position:absolute;
  top:0;
  display: block;
  right: 0px;
  padding-right: 0em;
  padding: 0 1em 0 .3em;
  z-index: 100;
  height: 84%;
  display: block;
  overflow-y: scroll;
}
.multipleSelect::-webkit-scrollbar {
  display: none;
}


.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 79%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #8792ff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  max-width: 79%;
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  -webkit-box-ordinal-group: 2;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

